$box-shadow: 0 0.5rem 1rem rgba(#F8F9FA, 0.15) !default;
image {
    box-shadow: $box-shadow;
}

$color: #03045E;
h1 {
    color: $color;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 37px;
    font-weight: 700;
}

h2 {
    font-size: 25px;
    font-weight: 500;
}

.button {
    background-color: $color;
    color: white;
    margin-bottom: 20px;
}